body {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  background-color: hsl(204, 43%, 93%);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
}

.container {
  display: grid;
  grid-template-columns: 280px 280px;
  grid-template-rows: 180px 220px;
  grid-template-areas: "top top""b-l b-r";
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.shadow {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

/* ---------- TOP ---------- */

.header-row {
  grid-area: top;
  border-radius: 0.4375rem 0.4375rem 0 0;
  background-color: #fff;
  padding: 30px 40px 20px 40px;
}

.header-title {
  color: hsl(179, 62%, 43%);
}

.header-sub-title {
  color: hsl(71, 73%, 54%);

}

.header-message {
  color: hsl(218, 22%, 67%);
  margin: 0 auto 10px auto;
}

/* ---------- BOT ---------- */

.bottom-row-title, .price {
  color: hsl(204, 43%, 93%);
}

/* ---------- BOT L ---------- */

.bottom-left-row {
  grid-area: b-l;
  border-radius: 0 0 0 0.4375rem;
  background-color: hsl(179, 62%, 43%);
  padding: 20px 40px 0 40px;
}

.price {
  font-size: 1.7rem;
  font-weight: 600;
  display: inline-block;
  height: 20px;
  margin: 5px auto 10px auto;
}

.pm {
  color: rgb(139, 217, 221);
  display: inline-block;
  height: 20px;
  position: relative;
  bottom: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.access {
  color: hsl(204, 43%, 93%);
  margin: 0 auto 25px auto;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px #666666;
  -moz-box-shadow: 0px 3px 10px #666666;
  box-shadow: 0px 3px 10px hsl(190, 62%, 43%);
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  background: hsl(71, 73%, 54%);
  padding: 10px 60px 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 80px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* ---------- BOT R ---------- */

.bottom-right-row {
  grid-area: b-r;
  border-radius: 0 0 0.4375rem 0;
  background-color: rgb(73, 190, 190);
  padding: 20px 40px 0 40px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: rgb(183, 240, 244);
  font-size: 0.75rem;
  line-height: 1.5;
  margin-bottom: 0;
}
